<h1>Receipt {{receipt.companyName}}, {{receipt.date | date:'medium'}}</h1>

<table class="allItems">
    <tr>
        <th>Item name</th>
        <th>Item porducer</th>
        <th>Amount</th>
        <th>Price per item</th>
        <th>Total item price</th>
    </tr>
    <tr *ngFor="let n of receipt.selectedItems">
        <td>{{n.itemName}}</td>
        <td>{{n.itemProducer}}</td>
        <td>{{n.currentState}}</td>
        <td>{{n.sellingPrice}}</td>
        <td>{{n.sellingPrice * n.currentState}}</td>
    </tr>
</table>
<br><br>
<button mat-dialog-close mat-button>Close</button>