<div class="list of all items">
    <h2>All items</h2>
    <ul *ngFor="let n of companies; let i = index">
        <li>
            {{n.name}}
            <br>
            <table>
                <tr>
                    <td>Item Name:</td>
                    <td>Producer:</td>
                    <td>Lowest price:</td>
                    <td>Objects:</td>
                </tr>
                <tr *ngFor="let j of lowestPrice[i]; let k =index">
                    <td>{{itemNames[i][k]}}</td>
                    <td>{{itemProducers[i][k]}}</td>
                    <td>{{j}}</td>
                    <td>{{storageUnits[i][k]}}</td>
                </tr>
            </table>
        </li>
    </ul>
</div>
<br>
<div class="search">
    Find item by name: <input type="text" [(ngModel)]="itemNameSearch">
    <br>
    Find item by producer: <input type="text" [(ngModel)]="itemProducerSearch">
    <br>
    <button mat-button (click)="searchItem()">Search</button>
</div>
<br>
<div class="searchResults">
    <h2>Search item</h2>
    <table>
        <tr>
            <td>Item Name:</td>
            <td>Producer:</td>
            <td>Price:</td>
            <td>Objects:</td>
        </tr>
        <tr *ngFor="let j of itemsSearch">
            <td>{{j.itemName}}</td>
            <td>{{j.itemProducer}}</td>
            <td>{{j.sellingPrice}}</td>
            <td>{{j.place}}</td>
        </tr>
    </table>
</div>
<br>
<div class="myReceipts">
    <h2>My receipts</h2>
    <table>
        <tr>
            <td>Company Name</td>
            <td>Place</td>
            <td>Amount to pay</td>
            <td>Payment type</td>
        </tr>
        <tr *ngFor="let n of myReceipts">
            <td>{{n.companyName}}</td>
            <td>{{n.selectedItems[0].place}}</td>
            <td>{{n.amountToPay}}</td>
            <td>{{n.paymentType}}</td>
        </tr>
    </table>
</div>
<footer>
    <button (click)="passwordChange()">Change password</button>
    <br>
    <button (click)="logout()" class="logOut">LogOut</button>
</footer>

