<div class="list of all items">
    <ul *ngFor="let n of comapnies; let i = index">
        <li>
            {{n.name}}
            <br>
            <table>
                <tr>
                    <td>Item Name:</td>
                    <td>Producer:</td>
                    <td>Lowest price:</td>
                    <td>Objects</td>
                </tr>
                <tr *ngFor="let j of itemStats[i]; let k = index">
                    <td>{{j.itemName}}</td>
                    <td>{{j.itemProducer}}</td>
                    <td>{{j.sellingPrice}}</td>
                    <td>{{j.storageUnit}}</td>
                </tr>
            </table>
        </li>
    </ul>
</div>
<br>
<div class="search">
    Find item by name: <input type="text" [(ngModel)]="itemNameSearch">
    <br>
    Find item by producer: <input type="text" [(ngModel)]="itemProducerSearch">
    <br>
    <button mat-button (click)="searchItem()">Search</button>
</div>

<div class="searchResults">
    <table>
        <tr>
            <td>Item Name:</td>
            <td>Producer:</td>
            <td>Price:</td>
            <td>Objects</td>
        </tr>
        <tr *ngFor="let j of itemsSearch">
            <td>{{j.itemName}}</td>
            <td>{{j.itemProducer}}</td>
            <td>{{j.sellingPrice}}</td>
            <td>{{j.storageUnit}}</td>
        </tr>
    </table>
</div>

<footer>
    <button (click)="passwordChange()">Change password</button>
    <br>
    <button (click)="logout()" class="logOut">LogOut</button>
</footer>

