h1{
    font-weight: 500;
    font-size: 30px;
}

h2{
    font-weight: 450;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
}

.columnText{
    font-size: 20px;
}

input[type=text]{
    font-size: 15px;
}

input[type=number]{
    font-size: 15px;
}

select{
    font-size: 15px;
}
button{
    font-size: 20px
}

.itemsToAdd {
    border:none;
    border-collapse: collapse;
    font-size: 20px;
  }

.itemsToAdd th {
    border-bottom: 1px solid #000;
  
    padding-left: 10px;
    padding-right: 10px;
  
    font-weight: 450;
}
  
.itemsToAdd td{
    border-bottom: 1px solid #000;
    text-align: center;
}

.itemsOnTable  {
    border:none;
    border-collapse: collapse;
    font-size: 20px;
  }

.itemsOnTable th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  
    padding-left: 10px;
    padding-right: 10px;
  
    font-weight: 450;
}
  
.itemsOnTable td{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}