<header>
    Company registration
</header>
<table>
    <tr>
        <td>Firstname:</td>
        <input type="text" name="firstname" [(ngModel)]="firstname">
    </tr>
    <tr>
        <td>Lastname:</td>
        <input type="text" name="lastname" [(ngModel)]="lastname">
    </tr>
    <tr>
        <td>Username:</td>
        <input type="text" name="username" [(ngModel)]="username">
    </tr>
    <tr>
        <td>Password:</td>
        <input type="password" name="password" [(ngModel)]="password" (ngModelChange)="checkPassword()">
        <td class="error">{{passwordCheck}}</td>
    </tr>
    <tr>
        <td>Confirm Password:</td>
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="checkConfirmPassword()">
        <td class="error">{{confirmPasswordCheck}}</td>
    </tr>
    <tr>
        <td>Telephone number:</td>
        <input type="text" name="number" [(ngModel)]="telephoneNumber" (ngModelChange)="checkTelephoneNumber()">
        <td class="error">{{telephoneNumberCheck}}</td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <input type="text" name="email" [(ngModel)]="email" (ngModelChange)="checkEmail()">
        <td class="error">{{emailCheck}}</td>
    </tr>
    <tr>
        <td>Name of company:</td>
        <input type="text" name="companyName" [(ngModel)]="name">
    </tr>
    <tr>
        <td>Country:</td>
        <input type="text" name="country" [(ngModel)]="country">
    </tr>
    <tr>
        <td>City:</td>
        <input type="text" name="city" [(ngModel)]="city">
    </tr>
    <tr>
        <td>PostNumber:</td>
        <input type="number" name="postNumber" [(ngModel)]="postNumber" (ngModelChange)="checkPostNumber()">
        <td class="error">{{checkMailNumber}}</td>
    </tr>
    <tr>
        <td>Street name:</td>
        <input type="text" name="street" [(ngModel)]="streetName">
    </tr>
    <tr>
        <td>Street number:</td>
        <input type="number" name="streetNumber" [(ngModel)]="streetNumber" (ngModelChange)="checkStreetNumber()">
        <td class="error">{{streetNumberCheck}}</td>
    </tr>
    <tr>
        <td>PIB:</td>
        <input type="number" name="PIB" [(ngModel)]="PIB" (ngModelChange)="checkPIB()">
        <td class="error">{{PIBCheck}}</td>
    </tr>
    <tr>
        <td>Unique number of company:</td>
        <input type="text" name="JMBP" [(ngModel)]="JMBP" (ngModelChange)="checkJMBP()">
        <td class="error">{{JMBPCheck}}</td>
    </tr>
    <tr>
        <td>Logo of company:</td>
        <input type="file" id="file" name="logo" (change)="onFileSelected($event)">
    </tr>
    <tr>
        <td>
            <img src="{{image}}">
        </td>
    </tr>
</table>
<button (click)="register()">Register</button>
<br>
<div class="error">{{message}}</div>
<footer>
Click here to <a routerLink="">return</a> to login.
</footer>