<h1>
    Company registration
</h1>
<table id="registerCompanyTable">
    <tr>
        <th class="columnText">Firstname:</th>
        <input type="text" name="firstname" [(ngModel)]="firstname">
    </tr>
    <tr>
        <th class="columnText">Lastname:</th>
        <input type="text" name="lastname" [(ngModel)]="lastname">
    </tr>
    <tr>
        <th class="columnText">Username:</th>
        <input type="text" name="username" [(ngModel)]="username">
    </tr>
    <tr>
        <th class="columnText">Password:</th>
        <input type="password" name="password" [(ngModel)]="password" (ngModelChange)="checkPassword()">
        <td class="error">{{passwordCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Confirm Password:</th>
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="checkConfirmPassword()">
        <td class="error">{{confirmPasswordCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Telephone number:</th>
        <input type="text" name="number" [(ngModel)]="telephoneNumber" (ngModelChange)="checkTelephoneNumber()">
        <td class="error">{{telephoneNumberCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">E-mail:</th>
        <input type="text" name="email" [(ngModel)]="email" (ngModelChange)="checkEmail()">
        <td class="error">{{emailCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Name of company:</th>
        <input type="text" name="companyName" [(ngModel)]="name">
    </tr>
    <tr>
        <th class="columnText">Country:</th>
        <input type="text" name="country" [(ngModel)]="country">
    </tr>
    <tr>
        <th class="columnText">City:</th>
        <input type="text" name="city" [(ngModel)]="city">
    </tr>
    <tr>
        <th class="columnText">PostNumber:</th>
        <input type="number" name="postNumber" [(ngModel)]="postNumber" (ngModelChange)="checkPostNumber()">
        <td class="error">{{checkMailNumber}}</td>
    </tr>
    <tr>
        <th class="columnText">Street name:</th>
        <input type="text" name="street" [(ngModel)]="streetName">
    </tr>
    <tr>
        <th class="columnText">Street number:</th>
        <input type="number" name="streetNumber" [(ngModel)]="streetNumber" (ngModelChange)="checkStreetNumber()">
        <td class="error">{{streetNumberCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">PIB:</th>
        <input type="number" name="PIB" [(ngModel)]="PIB" (ngModelChange)="checkPIB()">
        <td class="error">{{PIBCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Unique number of company:</th>
        <input type="text" name="JMBP" [(ngModel)]="JMBP" (ngModelChange)="checkJMBP()">
        <td class="error">{{JMBPCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Logo of company:</th>
        <input type="file" (change)="onFileSelected($event)">
    </tr>
    <tr>
        <td>
            <img src="{{image}}">
        </td>
    </tr>
</table>
<button  mat-button (click)="register()">Register</button>
<br>
<div class="error">{{message}}</div>
<footer>
Click here to <a routerLink="">return</a> to login.
</footer>