<h1>Hello {{user.username}}</h1>
<table id="firstTimeCompanyTable">
    <tr>
        <th class="columnText">Category</th>
        <td>
            <select [(ngModel)]="category" (ngModelChange)="getActivityCodes()" class="columnText">
                <option value="store">Store</option>
                <option value="caterer">Caterer</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="columnText">Activity code</th>
        <td>
            <ul *ngFor="let n of activityCodes" id="activityCodes">
                <li class="columnText">
                    <input type="checkbox" value="{{n.code}}" (change)="addActivityCode(n)">{{n.code}}
                </li>
            </ul>            
        </td>
    </tr>
    <tr>
        <th class="columnText">In system for PDV</th>
        <td>
            <mat-radio-group [(ngModel)]="PDV" name="PDV" class="columnText">
                <mat-radio-button value="true">Yes</mat-radio-button>
                &nbsp;
                <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
        </td>
    </tr>
    <tr>
        <th class="columnText">Bank accounts</th>
        <td>
            <button mat-stroked-button (click)="onAddBankAccount()">Add account</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">Bank account</th>
        <th class="columnText">Bank</th>
    </tr>
    <tr *ngFor="let bankAccount of bankAccountsModel; let i = index">
        <td>
            <input type="text" [(ngModel)]="bankAcc[i]" (ngModelChange)="checkBankAccount(bankAcc[i], i)">
        </td>
        <td>
            <input type="text" [(ngModel)]="bank[i]">
        </td>
        <td>
            <button mat-stroked-button color="warn" (click)="removeBankAccount(i)">Remove</button>
        </td>
        <td class="error">
            {{bankErrors[i]}}
        </td>
    </tr>
    <tr>
        <th class="columnText">Number of storage units</th>
        <td>
            <button mat-stroked-button (click)="onAddStorageUnit()">Add Storage Unit</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">Id:</th>
        <th class="columnText">Name:</th>
    </tr>
    <tr *ngFor="let n of storageUnits; let i = index">
        <td>
            <input type="number" min="1" [(ngModel)]="storageUnits[i].id">
        </td>
        <td>
            <input type="text" [(ngModel)]="storageUnits[i].name">
        </td>
        <td>
            <button mat-stroked-button color="warn" (click)="removeStorageUnit(i)">Remove</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">Number of Stores:</th>
        <td>
            <button mat-stroked-button (click)="onAddStore()">Add Store</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">ID</th>
        <th class="columnText">Name</th>
        <th class="columnText">Location</th>
        <th class="columnText">Number of Registers</th>
    </tr>
    <tr *ngFor="let n of stores; let i = index">
        <td>
            <input type="number" min="1" [(ngModel)]="stores[i].id">
        </td>
        <td>
            <input type="text" [(ngModel)]="stores[i].name">
        </td>
        <td>
            <input type="text" [(ngModel)]="stores[i].location">
        </td>
        <td>
            <input type="number" min="1" [(ngModel)]="stores[i].numRegisters" (ngModelChange)="changeRegisterNumber(i)">
        </td>
        <td>
            <button mat-stroked-button color="warn" (click)="removeStore(i)">Remove</button>
        </td>
    </tr>
    <tr *ngFor="let n of stores; let i = index">
        <th class="columnText">Registers for store {{i}}</th>
        <td *ngFor="let j of [].constructor(stores[i].numRegisters); let k = index">
            <select [(ngModel)]="registerTypes[i][k]">
                <option *ngFor="let n of registerModels" value="{{n.name}}">{{n.name}}</option>
            </select>
        </td>
    </tr>
</table>

<button mat-button (click)="insert()">Insert</button>
<footer>
    <button mat-button (click)="passwordChange()">Change password</button>
    <br>
    <button mat-button (click)="logout()" class="logOut">LogOut</button>
</footer>

