<h1></h1>
<table>
    <tr>
        <td>Category</td>
        <td>
            <select>
                <option>Store</option>
                <option>Caterer</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Activity code</td>
        <td></td>
    </tr>
    <tr>
        <td>In system for PDV</td>
        <td>
            <option>
                <input type="radio">Yes
                <input type="radio">No
            </option>
        </td>
    </tr>
    <tr>
        <td>Bank accounts</td>
        <td></td>
    </tr>
    <tr>
        <td>Number of storage units</td>
        <td>
            <input type="number">
        </td>
    </tr>
    <tr>
        <td>Number of registers</td>
        <td>
            <input type="number">
        </td>
    </tr>
</table>
<footer>
    <button (click)="logout()">LogOut</button>
</footer>
