<h1></h1>
<table>
    <tr>
        <td>Category</td>
        <td>
            <select [(ngModel)]="category" (ngModelChange)="getActivityCodes()">
                <option value="store">Store</option>
                <option value="caterer">Caterer</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Activity code</td>
        <td *ngFor="let n of activityCodes; let i=index">
            <input type="checkbox" value="{{n.code}}" (change)="addActivityCode(n)">{{n.code}}
        </td>
    </tr>
    <tr>
        <td>In system for PDV</td>
        <td>
            <option class="PDV" name="PDV" >
                <input type="radio" name="PDV" value="true" [(ngModel)]="PDV">Yes
                <input type="radio" name="PDV" value="false" [(ngModel)]="PDV">No
            </option>
        </td>
    </tr>
    <tr>
        <td>Bank accounts</td>
        <td>
            <button (click)="onAddBankAccount()">Add account</button>
        </td>
    </tr>
    <tr>
        <td>Bank account</td>
        <td>Bank</td>
    </tr>
    <tr *ngFor="let bankAccount of bankAccountsModel; let i = index">
        <td>
            <input type="text" [(ngModel)]="bankAcc[i]" (ngModelChange)="checkBankAccount(bankAcc[i], i)">
        </td>
        <td>
            <input type="text" [(ngModel)]="bank[i]">
        </td>
        <td>
            <button (click)="remove(i)">Remove</button>
        </td>
        <td>
            {{bankErrors[i]}}
        </td>
    </tr>
    <tr>
        <td>Number of storage units</td>
        <td>
            <input type="number" min="1" [(ngModel)]="storage">
        </td>
    </tr>
    <tr>
        <td>Number of registers</td>
        <td>
            <input type="number" [(ngModel)]="registerNumber" (ngModelChange)="changeRegisterNumber()" min="1">
        </td>
    </tr>
    <tr>
        <td>
            Location
        </td>
        <td>
            Register Type
        </td>
    </tr>
    <tr *ngFor="let n of registers; let i = index">
        <td>
            <input type="text" [(ngModel)]="registersLocation[i]">
        </td>
        <td>
            <select [(ngModel)]="registersType[i]">
                <option *ngFor="let n of registerModels" value="{{n.name}}">{{n.name}}</option>
            </select>
        </td>
        <td>
            <button (click)="removeRegister(i)">Remove register</button>
        </td>
    </tr>
</table>
<button (click)="insert()">Insert</button>
<footer>
    <button (click)="logout()">LogOut</button>
</footer>

