h1{
    font-weight: 500;
    font-size: 30px;
}

h2{
    font-weight: 450;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
}

input[type=text]{
    font-size: 15px;
}
  
input[type=password]{
    font-size: 15px;
}

input[type=number]{
    font-size: 15px;
}

input[type=file]{
    font-size: 15px;
}

input[type=date]{
    font-size: 15px;
}

select{
    font-size: 15px;
}

button{
    font-size: 20px;
}

.columnText{
    font-size: 20px;
  }

#firstTimeCompanyTable th{
    font-weight: 425;
    text-align: left;
}

footer{
    position: fixed;
    bottom:0;
    right:0;
    font-size: 20px;    
}