<h1 mat-dialog-title>Category {{categoryName}}</h1>

<table>
    <tr>
        <td>Item id:</td>
        <td>Item name:</td>
        <td>Item producer:</td>
    </tr>
    <tr *ngFor="let n of myItems">
        <td>{{n.itemId}}</td>
        <td>{{n.itemName}}</td>
        <td>{{n.producer}}</td>
        <td>
            <button mat-button (click)="setCategory(n)">Set Category</button>
        </td>
    </tr>
</table>
<br>
<div>
    Item name serach: &nbsp; <input type="text" [(ngModel)]="itemNameSearch"> <button mat-button (click)="serachItem()">Search</button>
    <table>
        <tr>
            <td>Item id:</td>
            <td>Item name:</td>
            <td>Item producer:</td>
        </tr>
        <tr *ngFor="let n of itemsSearch">
            <td>{{n.itemId}}</td>
            <td>{{n.itemName}}</td>
            <td>{{n.producer}}</td>
            <td>
                <button mat-button (click)="setCategory(n)">Set Category</button>
            </td>
        </tr>
    </table>
</div>

<footer>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Close</button>
    </div>
</footer>