h1{
    font-weight: 500;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
}

.items  {
    border:none;
    border-collapse: collapse;
    font-size: 20px;
}
  
.items th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  
    padding-left: 10px;
    padding-right: 10px;
  
    font-weight: 450;
}
  
.items td{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

.columnText{
    font-size: 20px;
}