<header>
    Log in form for administrator
</header>

<table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" [(ngModel)]="username">
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="password">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="loginAdmin()">LogIn</button>
        </td>
    </tr>
</table>
{{message}}
<br/>

<footer>
    Hello admin
    <br/>
    Click here to return to normal <a routerLink="">login.</a>
</footer>