<header>
    Log in form for all users
</header>

<table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" [(ngModel)]="username">
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="password">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="login()">LogIn</button>
        </td>
    </tr>
</table>
{{message}}
<br/>
<h2>5 poslednjih fiskalnih računa</h2>
<table>
    <tr>
        <td>Naziv preduzeća</td>
        <td>Iznos računa</td>
        <td>PDV</td>
        <td>Stavke računa sa količinama</td>
    </tr>
    <tr *ngFor="let n of receipts; let i = index">
        <td>{{n.companyName}}</td>
        <td>{{n.amountToPay}}</td>
        <td>{{n.tax}}</td>
        <td>
            <ul *ngFor="let m of receiptsItems[i]">
                <li>{{m.itemName}}, {{m.currentState}}</li>
            </ul>
        </td>
        <td>{{n.date | date:'short'}}</td>
    </tr>
</table>
<footer>
    Click here to <a routerLink="/registerCompany">register</a> as company.
    <br/>
    Click here to <a routerLink="/loginAdmin">log in</a> as administrator.
</footer>