html{
    display: flex;
}

h1{
    font-weight: 500;
    font-size: 30px;
}

h2{
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
}

input[type=text]{
    font-size: 15px;
}

input[type=password]{
    font-size: 15px;
}

table{
    font-size: 20px;
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}

.logInTable{
    display: center; 
    justify-content: center; 
    align-items: center;
}

.receiptTable  {
    border:none;
    border-collapse: collapse;
}

.receiptTable th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

    padding-left: 10px;
    padding-right: 10px;

    font-weight: 450;
}

.receiptTable td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

}

.error{
    color: red;
    font-size: large;
}

footer{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: x-large;
}

.logInButton{
    font-size: 20px;
}