<h1>
    Log in form for all users
</h1>

<div class="logInTable">
    <table>
        <tr>
            <td><span class="columnText"> Username: </span></td>
            <td>
                <input type="text" name="username" [(ngModel)]="username">
            </td>
        </tr>
        <tr>
            <td><span class="columnText"> Password: </span></td>
            <td>
                <input type="password" name="password" [(ngModel)]="password">
            </td>
        </tr>
    </table>
    <br>
    <button mat-raised-button (click)="login()" class="logInButton">LogIn</button>
</div>

<span class="error">{{message}}</span>
<br/><br>

<h2>5 latest receipts</h2>
<table class="receiptTable">
    <tr>
        <th>Company Name</th>
        <th>Receipt value</th>
        <th>Tax</th>
        <th>Items and item amount</th>
        <th>Date and Time</th>
    </tr>
    <tr *ngFor="let n of receipts; let i = index">
        <td>{{n.companyName}}</td>
        <td>{{n.amountToPay}}</td>
        <td>{{n.tax}}</td>
        <td>
            <ul *ngFor="let m of receiptsItems[i]">
                <li>{{m.itemName}}, {{m.currentState}}</li>
            </ul>
        </td>
        <td>{{n.date | date:'medium'}}</td>
    </tr>
</table>
<footer>
    Click here to <a routerLink="/registerCompany">register</a> as company.
    <br/><br>
    Click here to <a routerLink="/loginAdmin">log in</a> as administrator.
</footer>