<h1>Password change</h1>
<table>
    <tr>
        <td>Old password:</td>
        <td>
            <input type="password" [(ngModel)]="oldPassword" (ngModelChange)="checkOldPassword()">
        </td>
        <td>
            {{oldPasswordCheck}}
        </td>
    </tr>
    <tr>
        <td>New password:</td>
        <td>
            <input type="password" [(ngModel)]="newPassword" (ngModelChange)="checkNewPassword()">
        </td>
        <td>
            {{newPasswordCheck}}
        </td>
    </tr>
    <tr>
        <td>Confirm new password:</td>
        <td>
            <input type="password" [(ngModel)]="confirmNewPassword" (ngModelChange)="checkConfirmPassword()">
        </td>
        <td>
            {{confirmPasswordCheck}}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            {{passwordError}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="change()">Change</button>
        </td>
    </tr> 
</table>
<footer>
    <button (click)="logout()">LogOut</button>
</footer>