<h1>Password change</h1>
<table class="passwordChange">
    <tr>
        <th>Old password:</th>
        <td>
            <input type="password" [(ngModel)]="oldPassword" (ngModelChange)="checkOldPassword()">
        </td>
        <td>
            {{oldPasswordCheck}}
        </td>
    </tr>
    <tr>
        <th>New password:</th>
        <td>
            <input type="password" [(ngModel)]="newPassword" (ngModelChange)="checkNewPassword()">
        </td>
        <td>
            {{newPasswordCheck}}
        </td>
    </tr>
    <tr>
        <th>Confirm new password:</th>
        <td>
            <input type="password" [(ngModel)]="confirmNewPassword" (ngModelChange)="checkConfirmPassword()">
        </td>
        <td>
            {{confirmPasswordCheck}}
        </td>
    </tr>
    <tr>
        <td colspan="3" class="error">
            {{passwordError}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button mat-raised-button (click)="change()">Change</button>
        </td>
    </tr> 
</table>
<br>
<button mat-raised-button (click)="return()">Return</button>
<footer>
    <button mat-raised-button (click)="logout()">LogOut</button>
</footer>