h1{
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
}

.passwordChange th{
    font-weight: 425;
    text-align: left;
    font-size: 20px;
}

.passwordChange td{
    font-size: 20px;
}

.error{
    color: red;
    font-size: 20px;
}

button{
    font-size: 20px
}

footer{
    position: fixed;
    bottom:0;
    right:0;
    font-size: 30px;    
}