<h1>Hello Admin {{user.username}}</h1>

<h2>Company registrations phase one</h2>
<table class="companyRegistrations">
    <tr>
        <th colspan="2">Firstname and lastname</th>
        <th>Username</th>
        <th>Telephone number</th>
        <th>Email</th>
        <th>Comapny Name</th>
        <th colspan="4">Address</th>
        <th>PIB</th>
        <th>JMBP</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let n of registerCompanys">
        <td colspan="2">{{n.firstname}} {{n.lastname}}</td>
        <td>{{n.username}}</td>
        <td>{{n.telephoneNumber}}</td>
        <td>{{n.email}}</td>
        <td>{{n.name}}</td>
        <td colspan="4">{{n.country}}, {{n.city}}, {{n.streetName}} {{n.streetNumber}}</td>
        <td>{{n.PIB}}</td>
        <td>{{n.JMBP}}</td>
        <td>{{n.status}}</td>
        <div *ngIf="n.status == 'new'">
            &nbsp;
            <button mat-raised-button color="primary" (click)="accept(n.username, n.password)">Accept</button>
            &nbsp;
            <button mat-raised-button color="warn" (click)="decline(n.username)">Decline</button>
        </div>
    </tr>
</table>
<br>
<h2>Insert company</h2>

<table class="registerCompanyTable">
    <tr>
        <th class="columnText">Firstname:</th>
        <input type="text" name="firstname" [(ngModel)]="firstname">
    </tr>
    <tr>
        <th class="columnText">Lastname:</th>
        <input type="text" name="lastname" [(ngModel)]="lastname">
    </tr>
    <tr>
        <th class="columnText">Username:</th>
        <input type="text" name="username" [(ngModel)]="username">
    </tr>
    <tr>
        <th class="columnText">Password:</th>
        <input type="password" name="password" [(ngModel)]="password" (ngModelChange)="checkPassword()">
        <td class="error">{{passwordCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Confirm Password:</th>
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="checkConfirmPassword()">
        <td class="error">{{confirmPasswordCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Telephone number:</th>
        <input type="text" name="number" [(ngModel)]="telephoneNumber" (ngModelChange)="checkTelephoneNumber()">
        <td class="error">{{telephoneNumberCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">E-mail:</th>
        <input type="text" name="email" [(ngModel)]="email" (ngModelChange)="checkEmail()">
        <td class="error">{{emailCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Name of company:</th>
        <input type="text" name="companyName" [(ngModel)]="name">
    </tr>
    <tr>
        <th class="columnText">Country:</th>
        <input type="text" name="country" [(ngModel)]="country">
    </tr>
    <tr>
        <th class="columnText">City:</th>
        <input type="text" name="city" [(ngModel)]="city">
    </tr>
    <tr>
        <th class="columnText">PostNumber:</th>
        <input type="number" name="postNumber" [(ngModel)]="postNumber" (ngModelChange)="checkPostNumber()">
        <td class="error">{{checkMailNumber}}</td>
    </tr>
    <tr>
        <th class="columnText">Street name:</th>
        <input type="text" name="street" [(ngModel)]="streetName">
    </tr>
    <tr>
        <th class="columnText">Street number:</th>
        <input type="number" name="streetNumber" [(ngModel)]="streetNumber" (ngModelChange)="checkStreetNumber()">
        <td class="error">{{streetNumberCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">PIB:</th>
        <input type="number" name="PIB" [(ngModel)]="PIB" (ngModelChange)="checkPIB()">
        <td class="error">{{PIBCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Unique number of company:</th>
        <input type="text" name="JMBP" [(ngModel)]="JMBP" (ngModelChange)="checkJMBP()">
        <td class="error">{{JMBPCheck}}</td>
    </tr>
    <tr>
        <th class="columnText">Logo of company:</th>
        <input type="file" (change)="onFileSelected($event)">
    </tr>
    <tr>
        <td>
            <img src="{{image}}">
        </td>
    </tr>
</table>

<table id="firstTimeCompanyTable">
    <tr>
        <th class="columnText">Category</th>
        <td>
            <select [(ngModel)]="category" (ngModelChange)="getActivityCodes()" class="columnText">
                <option value="store">Store</option>
                <option value="caterer">Caterer</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="columnText">Activity code</th>
        <td>
            <ul *ngFor="let n of activityCodes" id="activityCodes">
                <li class="columnText">
                    <input type="checkbox" value="{{n.code}}" (change)="addActivityCode(n)">{{n.code}}
                </li>
            </ul>            
        </td>
    </tr>
    <tr>
        <th class="columnText">In system for PDV</th>
        <td>
            <mat-radio-group [(ngModel)]="PDV" name="PDV" class="columnText">
                <mat-radio-button value="true">Yes</mat-radio-button>
                &nbsp;
                <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
        </td>
    </tr>
    <tr>
        <th class="columnText">Bank accounts</th>
        <td>
            <button mat-stroked-button (click)="onAddBankAccount()">Add account</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">Bank account</th>
        <th class="columnText">Bank</th>
    </tr>
    <tr *ngFor="let bankAccount of bankAccountsModel; let i = index">
        <td>
            <input type="text" [(ngModel)]="bankAcc[i]" (ngModelChange)="checkBankAccount(bankAcc[i], i)">
        </td>
        <td>
            <input type="text" [(ngModel)]="bank[i]">
        </td>
        <td>
            <button mat-stroked-button color="warn" (click)="removeBankAccount(i)">Remove</button>
        </td>
        <td class="error">
            {{bankErrors[i]}}
        </td>
    </tr>
    <tr>
        <th class="columnText">Number of storage units</th>
        <td>
            <button mat-stroked-button (click)="onAddStorageUnit()">Add Storage Unit</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">Id:</th>
        <th class="columnText">Name:</th>
    </tr>
    <tr *ngFor="let n of storageUnits; let i = index">
        <td>
            <input type="number" min="1" [(ngModel)]="storageUnits[i].id">
        </td>
        <td>
            <input type="text" [(ngModel)]="storageUnits[i].name">
        </td>
        <td>
            <button mat-stroked-button color="warn" (click)="removeStorageUnit(i)">Remove</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">Number of Stores:</th>
        <td>
            <button mat-stroked-button (click)="onAddStore()">Add Store</button>
        </td>
    </tr>
    <tr>
        <th class="columnText">ID</th>
        <th class="columnText">Name</th>
        <th class="columnText">Location</th>
        <th class="columnText">Number of Registers</th>
    </tr>
    <tr *ngFor="let n of stores; let i = index">
        <td>
            <input type="number" min="1" [(ngModel)]="stores[i].id">
        </td>
        <td>
            <input type="text" [(ngModel)]="stores[i].name">
        </td>
        <td>
            <input type="text" [(ngModel)]="stores[i].location">
        </td>
        <td>
            <input type="number" min="1" [(ngModel)]="stores[i].numRegisters" (ngModelChange)="changeRegisterNumber(i)">
        </td>
        <td>
            <button mat-stroked-button color="warn" (click)="removeStore(i)">Remove</button>
        </td>
    </tr>
    <tr *ngFor="let n of stores; let i = index">
        <th class="columnText">Registers for store {{i}}</th>
        <td *ngFor="let j of [].constructor(stores[i].numRegisters); let k = index">
            <select [(ngModel)]="registerTypes[i][k]">
                <option *ngFor="let n of registerModels" value="{{n.name}}">{{n.name}}</option>
            </select>
        </td>
    </tr>
</table>
<button mat-button (click)="insert()">Insert</button>
<br><br>
<h2>Activate/Deactivate companies</h2>
<table id="activeComapnies">
    <tr>
        <th>Comapny Name</th>
        <th>PIB</th>
        <th>JMBP</th>
        <th>Active</th>
    </tr>
    <tr *ngFor="let n of registerCompanys">
        <td>{{n.name}}</td>
        <td>{{n.PIB}}</td>
        <td>{{n.JMBP}}</td>
        <td style="text-transform: uppercase;">{{n.active}}</td>
        <td *ngIf="n.active">
            <button mat-raised-button color="warn" (click)="deactivate(n.username)">Deactivate</button>
        </td>
        <td *ngIf="!n.active">
            <button mat-raised-button color="primary" (click)="activate(n.username)">Activate</button>
        </td>
    </tr>
</table>
<br><br>
<h2>Insert user</h2>

<table class="registerCompanyTable">
    <tr>
        <th class="columnText">Firstname:</th>
        <input type="text" name="firstname" [(ngModel)]="firstnameUser">
    </tr>
    <tr>
        <th class="columnText">Lastname:</th>
        <input type="text" name="lastname" [(ngModel)]="lastnameUser">
    </tr>
    <tr>
        <th class="columnText">Username:</th>
        <input type="text" name="username" [(ngModel)]="usernameUser">
    </tr>
    <tr>
        <th class="columnText">Password:</th>
        <input type="password" name="password" [(ngModel)]="passwordUser" (ngModelChange)="checkPasswordUser()">
        <td class="error">{{passwordCheckUser}}</td>
    </tr>
    <tr>
        <th class="columnText">Telephone number:</th>
        <input type="text" name="number" [(ngModel)]="telephoneNumberUser" (ngModelChange)="checkTelephoneNumberUser()">
        <td class="error">{{telephoneNumberCheckUser}}</td>
    </tr>
    <tr>
        <th class="columnText">ID Card:</th>
        <input type="text" name="email" [(ngModel)]="idCardUser" (ngModelChange)="checkIDCard()">
        <td class="error">{{idCardCheck}}</td>
    </tr>
</table>
<button mat-button (click)="insertUser()">Insert user</button>
<br><br>

<h2>All Daily Reports</h2>
<table class="companyRegistrations">
    <tr>
        <th>Company name</th>
        <th>Date</th>
        <th>Daily money</th>
        <th>Tax</th>
    </tr>
    <tr *ngFor="let n of allDailyReview">
        <td>{{n.companyName}}</td>
        <td>{{n.date | date:'mediumDate'}}</td>
        <td>{{n.moneyEarned}}</td>
        <td>{{n.tax}}</td>
    </tr>
</table>
<br><br>

<h2>Search Daily Reports</h2>
<table class="registerCompanyTable">
    <tr>
        <th class="columnText">Name of company (optional)</th>
        <td>
            <input type="text" [(ngModel)]="companyNameSearch">
        </td>
    </tr>
    <tr>
        <th class="columnText">PIB of company (optional)</th>
        <td>
            <input type="text" [(ngModel)]="companyPIBSearch" min="100000001" max="999999999" (ngModelChange)="checkPIBSearch()">
        </td>
        <td class="error">
            {{companyPIBSearchError}}
        </td>
    </tr>
    <tr>
        <th class="columnText">First date (must)</th>
        <td>
            <input type="date" [(ngModel)]="firstDay">
        </td>
    </tr>
    <tr>
        <th class="columnText">Last date (must)</th>
        <td>
            <input type="date" [(ngModel)]="lastDay">
        </td>
    </tr>
</table>
<button mat-button (click)="searchDailyReviews()">Search</button>

<br><br>
<h3>Result</h3>
<table class="companyRegistrations">
    <tr>
        <th>Company name</th>
        <th>Date</th>
        <th>Daily money</th>
        <th>Tax</th>
    </tr>
    <tr *ngFor="let n of searchDailyReview">
        <td>{{n.companyName}}</td>
        <td>{{n.date | date:'mediumDate'}}</td>
        <td>{{n.moneyEarned}}</td>
        <td>{{n.tax}}</td>
    </tr>
</table>

<footer>
    <button mat-raised-button (click)="passwordChange()">Change password</button>
    <br>
    <button mat-raised-button (click)="logout()" class="logOut">LogOut</button>
</footer>