footer{
    position: fixed;
  	bottom:0;
    right:0;
    font-size: 20px;    
}

.menuButton{
    font-size: 25px;
}

.companyData{
    font-size: 20px;
}

.error{
    color: red;
}

#canvas{
    border: 2px solid black;
    width: auto;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    position: fixed;
}