<button mat-icon-button [matMenuTriggerFor]="menu" class="menuButton">
    Menu
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setCompanyData()" class="menuButton">
        <mat-icon>account_circle</mat-icon>
        Company Data
    </button>

    <button mat-menu-item (click)="setOrdersData()" class="menuButton">
        <mat-icon>shop_two</mat-icon>
        Orders
    </button>

    <button mat-menu-item (click)="setGoodsAndServices()" class="menuButton">
        <mat-icon>local_convenience_store</mat-icon>
        Goods and Services
    </button>

    <button mat-menu-item (click)="setItemData()" class="menuButton">
        <mat-icon>label</mat-icon>
        Items
    </button>

    <button mat-menu-item (click)="setTableData()" *ngIf="company.category == 'caterer'" class="menuButton">
        <mat-icon>local_cafe</mat-icon>
        Tables
    </button>

    <button mat-menu-item (click)="setReceiptsData()" class="menuButton">
        <mat-icon>receipt</mat-icon>
        Receipts
    </button>

    <button mat-menu-item (click)="setReviewsData()" class="menuButton">
        <mat-icon>rate_review</mat-icon>
        Report reviews
    </button>
</mat-menu>

<!-- *************************************************************************************************************************** -->

<div *ngIf="companyData" class="companyData">    
    <mat-tab-group dynamicHeight>
        <mat-tab label="Opsti podaci">
            <table>
                <tr>
                    <td>Firstname: </td>
                    <td>{{company.firstname}}</td>
                </tr>
                <tr>
                    <td>Lastname: </td>
                    <td>{{company.lastname}}</td>
                </tr>
                <tr>
                    <td>Telephone nummber: </td>
                    <td>{{company.telephoneNumber}}</td>
                </tr>
                <tr>
                    <td>E-mail: </td>
                    <td>{{company.email}}</td>
                </tr>
                <tr>
                    <td>Company name: </td>
                    <td>{{company.name}}</td>
                </tr>
                <tr>
                    <td>Country: </td>
                    <td>{{company.country}}</td>
                </tr>
                <tr>
                    <td>City: </td>
                    <td>{{company.city}}</td>
                </tr>
                <tr>
                    <td>Street: </td>
                    <td>{{company.streetName}} {{company.streetNumber}}</td>
                </tr>
                <tr>
                    <td>PIB: </td>
                    <td>{{company.PIB}}</td>
                </tr>
                <tr>
                    <td>JMBP: </td>
                    <td>{{company.JMBP}}</td>
                </tr>
                <tr>
                    <td>Category: </td>
                    <td>{{company.category}}</td>
                </tr>
                <tr>
                    <td>Activity codes: </td>
                    <td *ngFor="let n of company.activityCodes">{{n.code}}</td>
                </tr>
                <tr>
                    <td>In system for PDV: </td>
                    <td>{{company.PDV}}</td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Ziro racuni">
            <table>
                <tr>
                  <td>Bank account</td>  
                  <td>Bank</td>
                </tr>
                <tr *ngFor="let n of company.bankAccounts">
                    <td>{{n.bankAccount}}</td>
                    <td>{{n.bank}}</td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Magcini i kase">
            <table>
                <tr>
                    <td>Register Location</td>
                    <td>Register Type</td>
                </tr>
                <tr *ngFor="let n of myRegisters">
                    <td>{{n.location}}</td>
                    <td>{{n.type}}</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td>Storage unit ID</td>
                    <td>Storage unit name</td>
                </tr>
                <tr *ngFor="let n of storageUnits">
                    <td>{{n.id}}</td>
                    <td>{{n.name}}</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td>Store ID</td>
                    <td>Store name</td>
                    <td>Store location</td>
                    <td>Number of register</td>
                </tr>
                <tr *ngFor="let n of myStores">
                    <td>{{n.id}}</td>
                    <td>{{n.name}}</td>
                    <td>{{n.location}}</td>
                    <td>{{n.numRegisters}}</td>
                </tr>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="ordersData">
    <h2>My customers</h2>
    <table>
        <tr>
            <td>Owner name</td>
            <td>Company name</td>
            <td>Telephone number</td>
            <td>E-mail</td>
            <td>PIB</td>
            <td>Days to pay</td>
            <td>Discount</td>
        </tr>
        <tr *ngFor="let n of customers">
            <td>{{n.firstname}} {{n.lastname}}</td>
            <td>{{n.name}}</td>
            <td>{{n.telephoneNumber}}</td>
            <td>{{n.email}}</td>
            <td>{{n.PIB}}</td>
            <td>{{n.daysToPay}}</td>
            <td>{{n.discount}}%</td>
        </tr>
    </table>
    <h2>Add customers via PIB</h2>
    <p>
        PIB: <input type="number" [(ngModel)]="PIBSearch" (ngModelChange)="checkPIBSearch()">
        <button (click)="findCompanyByPIB()">Search</button>
        <td class="error">{{PIBSearchCheck}}</td>
    </p>
    <br>
    <p *ngIf="companySearch">
        Owner name: {{companySearch.firstname}} {{companySearch.lastname}}
        <br>
        Company name: {{companySearch.name}}
        <br>
        telephoneNumber: {{companySearch.telephoneNumber}}
        <br>
        E-mail: {{companySearch.email}}
        <br>
        Location: {{companySearch.country}}, {{companySearch.city}}
        <br>
        Street: {{companySearch.streetName}} {{companySearch.streetNumber}} {{companySearch.postNumber}}
        <br>
        PIB: {{companySearch.PIB}}
        <br>
        JMBP: {{companySearch.JMBP}}
        <br>
        Logo: <img src="{{companySearch.imageData}}">
        <br>
        Days to pay: <input type="number" min="0" [(ngModel)]="daysToPay2">
        <br>
        Discount percent: <input type="number" min="0" max="100" [(ngModel)]="discount2">
        <br>
        <button (click)="addCustomer2()">Add Customer</button>
    </p>
    <h2>Add customers by adding data</h2>
    <table>
        <tr>
            <td>Firstname:</td>
            <input type="text" name="firstname" [(ngModel)]="firstname">
        </tr>
        <tr>
            <td>Lastname:</td>
            <input type="text" name="lastname" [(ngModel)]="lastname">
        </tr>
        <tr>
            <td>Telephone number:</td>
            <input type="text" name="number" [(ngModel)]="telephoneNumber" (ngModelChange)="checkTelephoneNumber()">
            <td class="error">{{telephoneNumberCheck}}</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <input type="text" name="email" [(ngModel)]="email" (ngModelChange)="checkEmail()">
            <td class="error">{{emailCheck}}</td>
        </tr>
        <tr>
            <td>Name of company:</td>
            <input type="text" name="companyName" [(ngModel)]="name">
        </tr>
        <tr>
            <td>Country:</td>
            <input type="text" name="country" [(ngModel)]="country">
        </tr>
        <tr>
            <td>City:</td>
            <input type="text" name="city" [(ngModel)]="city">
        </tr>
        <tr>
            <td>PostNumber:</td>
            <input type="number" name="postNumber" [(ngModel)]="postNumber" (ngModelChange)="checkPostNumber()">
            <td class="error">{{checkMailNumber}}</td>
        </tr>
        <tr>
            <td>Street name:</td>
            <input type="text" name="street" [(ngModel)]="streetName">
        </tr>
        <tr>
            <td>Street number:</td>
            <input type="number" name="streetNumber" [(ngModel)]="streetNumber" (ngModelChange)="checkStreetNumber()">
            <td class="error">{{streetNumberCheck}}</td>
        </tr>
        <tr>
            <td>PIB:</td>
            <input type="number" name="PIB" [(ngModel)]="PIB" (ngModelChange)="checkPIB()">
            <td class="error">{{PIBCheck}}</td>
        </tr>
        <tr>
            <td>Unique number of company:</td>
            <input type="text" name="JMBP" [(ngModel)]="JMBP" (ngModelChange)="checkJMBP()">
            <td class="error">{{JMBPCheck}}</td>
        </tr>
        <tr>
            <td>Logo of company:</td>
            <input type="file" id="file" name="logo" (change)="onFileSelected($event)">
        </tr>
        <tr>
            <td>
                <img src="{{image}}">
            </td>
        </tr>
        <tr>
            <td>Days to pay:</td>
            <input type="number" min="0" [(ngModel)]="daysToPay">
        </tr>
        <tr>
            <td>Discount percent:</td>
            <td>
                <input type="number" min="0" max="100" [(ngModel)]="discount">
            </td>
        </tr>
    </table>
    <button (click)="addCustomer()">Add customer</button>
</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="goodsAndServices">
    <div>Total of {{items.length}} of rows</div>
    <table *ngFor="let n of itemSlice">
        <tr>
            <td>Item id:</td>
            <td>Item name:</td>
            <td>Unit of measure</td>
            <td>Tax rate:</td>
            <td>Producer:</td>
        </tr>
        <tr>
            <td>{{n.itemId}}</td>
            <td>{{n.itemName}}</td>
            <td>{{n.unitOfMeasure}}</td>
            <td>{{n.taxRate}}</td>
            <td>{{n.producer}}</td>
            <td><button mat-button>Delete</button></td>
        </tr>
    </table>

    <mat-paginator [pageSize]="10" [length]="items.length"  (page)="onPageChange($event)">
        <!-- [pageSizeOptions]="[1, 2, 3]" -->
    </mat-paginator>

    <button mat-button (click)="addGoods = true">Add Goods</button>
    <mat-tab-group *ngIf="addGoods">
        <mat-tab label="General data">
            <table>
                <tr>
                    <td>ID of item:</td>
                    <td>
                        <input type="number" min="0" [(ngModel)]="itemId">
                    </td>
                </tr>
                <tr>
                    <td>Item name:</td>
                    <td>
                        <input type="text" [(ngModel)]="itemName">
                    </td>
                </tr>
                <tr>
                    <td>Unit of measure:</td>
                    <td>
                        <input type="text" [(ngModel)]="itemUnitOfMeasure">
                    </td>
                </tr>
                <tr>
                    <td>Tax rate:</td>
                    <td>
                        <select *ngIf="company.PDV" [(ngModel)]="itemTaxRate">
                            <option value="20%">20%</option>
                            <option value="10%">10%</option>
                        </select>
                        <select *ngIf="!company.PDV" [(ngModel)]="itemTaxRate">
                            <option value="0%" selected>0%</option>
                        </select>
                    </td>
                </tr>
                <tr *ngIf="company.category == 'caterer'">
                    <td>
                        Type:
                    </td>
                    <td>
                        <mat-radio-group [(ngModel)]="itemType">
                            <mat-radio-button value="food">Food</mat-radio-button>
                            <mat-radio-button value="beverage">Beverage</mat-radio-button>
                            <mat-radio-button value="raw material">Raw material</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
            </table>
        </mat-tab>

        <mat-tab label="Additional data">
            <table>
                <tr>
                    <td>Country of origin:</td>
                    <td>
                        <input type="text" [(ngModel)]="itemCountryOfOrigin">
                    </td>
                </tr>
                <tr>
                    <td>Foreign item name:</td>
                    <td>
                        <input type="text" [(ngModel)]="itemForeignName">
                    </td>
                </tr>
                <tr>
                    <td>Barcode number:</td>
                    <td>
                        <input type="text" [(ngModel)]="itemBarcodeNumber" (ngModelChange)="checkBarcode()">
                    </td>
                    <td>{{barcodeMessage}}</td>
                </tr>
                <tr>
                    <td>Producer name:</td>
                    <td>
                        <input type="text" [(ngModel)]="itemProducerName">
                    </td>
                </tr>
                <tr>
                    <td>Customs' rate(%):</td>
                    <td>
                        <input type="number" min="0" max="100" [(ngModel)]="itemCustomsRate">
                    </td>
                </tr>
                <tr>
                    <td>Eko tax:</td>
                    <td>
                        <mat-radio-group [(ngModel)]="itemEkoTax">
                            <mat-radio-button value="true">Yes</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
                <tr>
                    <td>Excise:</td>
                    <td>
                        <mat-radio-group [(ngModel)]="itemExcies">
                            <mat-radio-button value="true">Yes</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
                <tr>
                    <td>Minimum number of items:</td>
                    <td>
                        <input type="number" min="0" [(ngModel)]="itemMinItems">
                    </td>
                </tr>
                <tr>
                    <td>Maximum number of items:</td>
                    <td>
                        <input type="number" min="0" [(ngModel)]="itemMaxItems">
                    </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>
                        <textarea [(ngModel)]="itemDescription"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Declaration</td>
                    <td>
                        <input type="text" [(ngModel)]="itemDeclaration">
                    </td>
                </tr>
                <tr>
                    <td>Picture of item:</td>
                    <td>
                        <input type="file" id="file" name="logo" (change)="onFileSelectedItem($event)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{itemImageData}}">
                    </td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Price and state of goods">
            <table>
                <tr>
                    <td>Storage Unit/Store</td>
                    <td>Purchase price</td>
                    <td>Selling price</td>
                    <td>CurrentState</td>
                    <td>minItems</td>
                    <td>maxItems</td>
                </tr>
                <tr *ngFor="let n of storageUnits; let i = index"> 
                    <td>
                       {{n.name}}
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].purchasePrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].sellingPrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].currentState" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].minWantingNumber" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].maxWantingNumber" min="0">
                    </td>
                </tr>
                <tr *ngFor="let n of myStores; let i = index"> 
                    <td>
                       {{n.name}}
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].purchasePrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].sellingPrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].currentState" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].minWantingNumber" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].maxWantingNumber" min="0">
                    </td>
                </tr>

            </table>
        </mat-tab>
    </mat-tab-group>
    <button mat-button *ngIf="addGoods" (click)="addItem()">Add item</button>
    <div>{{itemAlert}}</div>
    <div>{{itemAlert1}}</div>
</div>

<!-- *************************************************************************************************************************** -->
<div *ngIf="itemData">

    <div class="createCategory">
        <h2>Form Category</h2>
        Category name: &nbsp;<input type="text" [(ngModel)]="category">
        <br>
        <button mat-button (click)="createCategory()">Create</button>
    </div>

    <div class="createCategory">
        <h2>Form SubCategory</h2>

        <table *ngFor="let n of allCategories">
            <tr>
                <td>Category:</td>
                <td>{{n.name}}</td>
            </tr>
            <tr>
                <td>subCategory name:</td>
                <td>
                    <input type="text">
                    <button mat-button>Add</button>
                </td>
            </tr>
        </table>
        
    </div>
    <br>
    <div class="addItemToCategory" *ngFor="let n of allCategories">
        Add to category: {{n.name}} <button mat-button (click)="openDialog(n.name)">Add</button>
    </div>

</div>

<div *ngIf="receiptsData">
    
</div>

<footer>
    <button (click)="passwordChange()">Change password</button>
    <br>
    <button (click)="logout()" class="logOut">LogOut</button>
</footer>
