<button mat-icon-button [matMenuTriggerFor]="menu" class="menuButton">
    Menu
</button>
<br><br>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setCompanyData()" class="menuButton">
        <mat-icon>account_circle</mat-icon>
        Company Data
    </button>

    <button mat-menu-item (click)="setOrdersData()" class="menuButton">
        <mat-icon>shop_two</mat-icon>
        Orders
    </button>

    <button mat-menu-item (click)="setGoodsAndServices()" class="menuButton">
        <mat-icon>local_convenience_store</mat-icon>
        Goods and Services
    </button>

    <button mat-menu-item (click)="setItemData()" class="menuButton">
        <mat-icon>label</mat-icon>
        Items
    </button>

    <button mat-menu-item (click)="setTableData()" *ngIf="company.category == 'caterer'" class="menuButton">
        <mat-icon>local_cafe</mat-icon>
        Tables
    </button>

    <button mat-menu-item (click)="setReceiptsData()" class="menuButton">
        <mat-icon>receipt</mat-icon>
        Receipts
    </button>

    <button mat-menu-item (click)="setReviewsData()" class="menuButton">
        <mat-icon>rate_review</mat-icon>
        Report reviews
    </button>

    <button mat-menu-item (click)="passwordChange()" class="menuButton">
        <mat-icon>settings</mat-icon>
        Change password
    </button>

    <button mat-menu-item (click)="logout()" class="menuButton">
        <mat-icon>keyboard_backspace</mat-icon>
        Log out
    </button>
</mat-menu>

<!-- *************************************************************************************************************************** -->

<div *ngIf="companyData">    
    <h2>Company Data</h2>
    <mat-tab-group dynamicHeight>
        <mat-tab label="General Data">
            <table class="companyData">
                <tr>
                    <th>Firstname: </th>
                    <td>{{company.firstname}}</td>
                </tr>
                <tr>
                    <th>Lastname: </th>
                    <td>{{company.lastname}}</td>
                </tr>
                <tr>
                    <th>Telephone nummber: </th>
                    <td>{{company.telephoneNumber}}</td>
                </tr>
                <tr>
                    <th>E-mail: </th>
                    <td>{{company.email}}</td>
                </tr>
                <tr>
                    <th>Company name: </th>
                    <td>{{company.name}}</td>
                </tr>
                <tr>
                    <th>Country: </th>
                    <td>{{company.country}}</td>
                </tr>
                <tr>
                    <th>City: </th>
                    <td>{{company.city}}</td>
                </tr>
                <tr>
                    <th>Street: </th>
                    <td>{{company.streetName}} {{company.streetNumber}}</td>
                </tr>
                <tr>
                    <th>PIB: </th>
                    <td>{{company.PIB}}</td>
                </tr>
                <tr>
                    <th>JMBP: </th>
                    <td>{{company.JMBP}}</td>
                </tr>
                <tr>
                    <th>Category: </th>
                    <td>{{company.category}}</td>
                </tr>
                <tr>
                    <th>Activity codes:</th>
                    <td>
                        <ul *ngFor="let n of company.activityCodes">
                            <li>{{n.code}}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>In system for PDV: </th>
                    <td>{{company.PDV}}</td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Bank Accounts">
            <table class="companyData">
                <tr>
                  <th>Bank account</th>  
                  <td>Bank</td>
                </tr>
                <tr *ngFor="let n of company.bankAccounts">
                    <th>{{n.bankAccount}}</th>
                    <td>{{n.bank}}</td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Storage units, stores and registers">
            <table class="companyData">
                <tr>
                    <th>Register Location</th>
                    <th>Register Type</th>
                </tr>
                <tr *ngFor="let n of myRegisters">
                    <td>{{n.location}}</td>
                    <td>{{n.type}}</td>
                </tr>
            </table>
            <br>
            <table class="companyData">
                <tr>
                    <th>Storage unit ID</th>
                    <th>Storage unit name</th>
                </tr>
                <tr *ngFor="let n of storageUnits">
                    <td>{{n.id}}</td>
                    <td>{{n.name}}</td>
                </tr>
            </table>
            <br>
            <table class="companyData">
                <tr>
                    <th>Store ID</th>
                    <th>Store name</th>
                    <th>Store location</th>
                    <th>Number of register</th>
                </tr>
                <tr *ngFor="let n of myStores">
                    <td>{{n.id}}</td>
                    <td>{{n.name}}</td>
                    <td>{{n.location}}</td>
                    <td>{{n.numRegisters}}</td>
                </tr>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="ordersData">
    <h2>My customers</h2>
    <table class="customers">
        <tr>
            <th>Owner name</th>
            <th>Company name</th>
            <th>Telephone number</th>
            <th>E-mail</th>
            <th>PIB</th>
            <th>Days to pay</th>
            <th>Discount</th>
        </tr>
        <tr *ngFor="let n of customers">
            <td>{{n.firstname}} {{n.lastname}}</td>
            <td>{{n.name}}</td>
            <td>{{n.telephoneNumber}}</td>
            <td>{{n.email}}</td>
            <td>{{n.PIB}}</td>
            <td>{{n.daysToPay}}</td>
            <td>{{n.discount}}%</td>
        </tr>
    </table>
    <br><br>
    <h2>Add customers via PIB</h2>
    <div>
        <span class="columnText">PIB: &nbsp;</span><input type="number" [(ngModel)]="PIBSearch" (ngModelChange)="checkPIBSearch()">
        <button mat-stroked-button (click)="findCompanyByPIB()">Search</button>
        <td class="error">{{PIBSearchCheck}}</td>
    </div>
    <br><br>
    <table *ngIf="companySearch" class="customerTable"> 
        <tr>
            <th>Owner name:</th>
            <td>
                {{companySearch.firstname}} {{companySearch.lastname}}
            </td>
        </tr>
        <tr>
            <th>Company name:</th>
            <td>
                {{companySearch.telephoneNumber}}
            </td>
        </tr>
        <tr>
            <th>TelephoneNumber:</th>
            <td>
                {{companySearch.firstname}} {{companySearch.lastname}}
            </td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>
                {{companySearch.email}}
            </td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>
                {{companySearch.country}}, {{companySearch.city}}
            </td>
        </tr>
        <tr>
            <th>Street:</th>
            <td>
                {{companySearch.streetName}} {{companySearch.streetNumber}} {{companySearch.postNumber}}
            </td>
        </tr>
        <tr>
            <th>PIB:</th>
            <td>
                {{companySearch.PIB}}
            </td>
        </tr>
        <tr>
            <th>JMBP:</th>
            <td>
                {{companySearch.JMBP}}
            </td>
        </tr>
        <tr>
            <th>Logo:</th>
            <td>
                <img src="{{companySearch.imageData}}">
            </td>
        </tr>
        <tr>
            <th>Days to pay:</th>
            <td>
                <input type="number" min="0" [(ngModel)]="daysToPay2">
            </td>
        </tr>
        <tr>
            <th>Discount percent::</th>
            <td>
                <input type="number" min="0" max="100" [(ngModel)]="discount2">
            </td>
        </tr>
    </table>
    <button mat-stroked-button *ngIf="companySearch" (click)="addCustomer2()">Add Customer</button>
    <br><br>

    <h2>Add customers by adding data</h2>
    <table class="customerTable">
        <tr>
            <th>Firstname:</th>
            <input type="text" name="firstname" [(ngModel)]="firstname">
        </tr>
        <tr>
            <th>Lastname:</th>
            <input type="text" name="lastname" [(ngModel)]="lastname">
        </tr>
        <tr>
            <th>Telephone number:</th>
            <input type="text" name="number" [(ngModel)]="telephoneNumber" (ngModelChange)="checkTelephoneNumber()">
            <td class="error">{{telephoneNumberCheck}}</td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <input type="text" name="email" [(ngModel)]="email" (ngModelChange)="checkEmail()">
            <td class="error">{{emailCheck}}</td>
        </tr>
        <tr>
            <th>Name of company:</th>
            <input type="text" name="companyName" [(ngModel)]="name">
        </tr>
        <tr>
            <th>Country:</th>
            <input type="text" name="country" [(ngModel)]="country">
        </tr>
        <tr>
            <th>City:</th>
            <input type="text" name="city" [(ngModel)]="city">
        </tr>
        <tr>
            <th>PostNumber:</th>
            <input type="number" name="postNumber" [(ngModel)]="postNumber" (ngModelChange)="checkPostNumber()">
            <td class="error">{{checkMailNumber}}</td>
        </tr>
        <tr>
            <th>Street name:</th>
            <input type="text" name="street" [(ngModel)]="streetName">
        </tr>
        <tr>
            <th>Street number:</th>
            <input type="number" name="streetNumber" [(ngModel)]="streetNumber" (ngModelChange)="checkStreetNumber()">
            <td class="error">{{streetNumberCheck}}</td>
        </tr>
        <tr>
            <th>PIB:</th>
            <input type="number" name="PIB" [(ngModel)]="PIB" (ngModelChange)="checkPIB()">
            <td class="error">{{PIBCheck}}</td>
        </tr>
        <tr>
            <th>Unique number of company:</th>
            <input type="text" name="JMBP" [(ngModel)]="JMBP" (ngModelChange)="checkJMBP()">
            <td class="error">{{JMBPCheck}}</td>
        </tr>
        <tr>
            <th>Logo of company:</th>
            <input type="file" id="file" name="logo" (change)="onFileSelected($event)">
        </tr>
        <tr>
            <td>
                <img src="{{image}}">
            </td>
        </tr>
        <tr>
            <th>Days to pay:</th>
            <input type="number" min="0" [(ngModel)]="daysToPay">
        </tr>
        <tr>
            <th>Discount percent:</th>
            <td>
                <input type="number" min="0" max="100" [(ngModel)]="discount">
            </td>
        </tr>
    </table>
    <button mat-stroked-button (click)="addCustomer()">Add customer</button>
</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="goodsAndServices">
    <h2>All items</h2>
    <div class="columnText">Total of {{items.length}} of rows</div>
    <br>
    <table class="customers">
        <tr>
            <th>Item id:</th>
            <th>Item name:</th>
            <th>Unit of measure</th>
            <th>Tax rate:</th>
            <th>Producer:</th>
        </tr>
        <tr *ngFor="let n of itemSlice" >
            <td>{{n.itemId}}</td>
            <td>{{n.itemName}}</td>
            <td>{{n.unitOfMeasure}}</td>
            <td>{{n.taxRate}}</td>
            <td>{{n.producer}}</td>
            <button mat-button color="warn">Delete</button>
        </tr>
    </table>

    <mat-paginator [pageSize]="10" [length]="items.length"  (page)="onPageChange($event)">
        <!-- [pageSizeOptions]="[1, 2, 3]" -->
    </mat-paginator>
    <br><br>
    <button mat-button (click)="addGoods = true">Add Goods</button>
    <mat-tab-group *ngIf="addGoods" dynamicHeight>
        <mat-tab label="General data">
            <table class="customerTable">
                <tr>
                    <th>ID of item:</th>
                    <td>
                        <input type="number" min="0" [(ngModel)]="itemId">
                    </td>
                </tr>
                <tr>
                    <th>Item name:</th>
                    <td>
                        <input type="text" [(ngModel)]="itemName">
                    </td>
                </tr>
                <tr>
                    <th>Unit of measure:</th>
                    <td>
                        <input type="text" [(ngModel)]="itemUnitOfMeasure">
                    </td>
                </tr>
                <tr>
                    <th>Tax rate:</th>
                    <td>
                        <select *ngIf="company.PDV" [(ngModel)]="itemTaxRate">
                            <option value="20%">20%</option>
                            <option value="10%">10%</option>
                        </select>
                        <select *ngIf="!company.PDV" [(ngModel)]="itemTaxRate">
                            <option value="0%" selected>0%</option>
                        </select>
                    </td>
                </tr>
                <tr *ngIf="company.category == 'caterer'">
                    <th>Type:</th>
                    <td>
                        <mat-radio-group [(ngModel)]="itemType">
                            <mat-radio-button value="food">Food</mat-radio-button>
                            <mat-radio-button value="beverage">Beverage</mat-radio-button>
                            <mat-radio-button value="raw material">Raw material</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
            </table>
        </mat-tab>

        <mat-tab label="Additional data">
            <table class="customerTable">
                <tr>
                    <th>Country of origin:</th>
                    <td>
                        <input type="text" [(ngModel)]="itemCountryOfOrigin">
                    </td>
                </tr>
                <tr>
                    <th>Foreign item name:</th>
                    <td>
                        <input type="text" [(ngModel)]="itemForeignName">
                    </td>
                </tr>
                <tr>
                    <th>Barcode number:</th>
                    <td>
                        <input type="text" [(ngModel)]="itemBarcodeNumber" (ngModelChange)="checkBarcode()">
                    </td>
                    <td class="error">{{barcodeMessage}}</td>
                </tr>
                <tr>
                    <th>Producer name:</th>
                    <td>
                        <input type="text" [(ngModel)]="itemProducerName">
                    </td>
                </tr>
                <tr>
                    <th>Customs' rate(%):</th>
                    <td>
                        <input type="number" min="0" max="100" [(ngModel)]="itemCustomsRate">
                    </td>
                </tr>
                <tr>
                    <th>Eko tax:</th>
                    <td>
                        <mat-radio-group [(ngModel)]="itemEkoTax">
                            <mat-radio-button value="true">Yes</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
                <tr>
                    <th>Excise:</th>
                    <td>
                        <mat-radio-group [(ngModel)]="itemExcies">
                            <mat-radio-button value="true">Yes</mat-radio-button>
                            <mat-radio-button value="false">No</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
                <tr>
                    <th>Minimum number of items:</th>
                    <td>
                        <input type="number" min="0" [(ngModel)]="itemMinItems">
                    </td>
                </tr>
                <tr>
                    <th>Maximum number of items:</th>
                    <td>
                        <input type="number" min="0" [(ngModel)]="itemMaxItems">
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        <textarea [(ngModel)]="itemDescription"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Declaration</th>
                    <td>
                        <input type="text" [(ngModel)]="itemDeclaration">
                    </td>
                </tr>
                <tr>
                    <th>Picture of item:</th>
                    <td>
                        <input type="file" id="file" name="logo" (change)="onFileSelectedItem($event)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{itemImageData}}">
                    </td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Price and state of goods">
            <table class="customerTable">
                <tr>
                    <th>Storage Unit/Store</th>
                    <th>Purchase price</th>
                    <th>Selling price</th>
                    <th>CurrentState</th>
                    <th>minItems</th>
                    <th>maxItems</th>
                </tr>
                <tr *ngFor="let n of storageUnits; let i = index"> 
                    <td>
                       {{n.name}}
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].purchasePrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].sellingPrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].currentState" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].minWantingNumber" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStats[i].maxWantingNumber" min="0">
                    </td>
                </tr>
                <tr *ngFor="let n of myStores; let i = index"> 
                    <td>
                       {{n.name}}
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].purchasePrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].sellingPrice" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].currentState" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].minWantingNumber" min="0">
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="itemStatsStore[i].maxWantingNumber" min="0">
                    </td>
                </tr>

            </table>
        </mat-tab>
    </mat-tab-group>
    <button mat-button *ngIf="addGoods" (click)="addItem()">Add item</button>
    <div class="error">{{itemAlert}}</div>
    <div class="error">{{itemAlert1}}</div>
</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="itemData">

    <h2>Form Category</h2>
    <div class="columnText">        
        Category name: &nbsp;<input type="text" [(ngModel)]="category">
        <br>
        <button mat-button (click)="createCategory()">Create</button>
    </div>
    <br>
    <h2>Form SubCategory</h2>
    <div class="createCategory">

        <table *ngFor="let n of allCategories; let i = index" class="customerTable">
            <tr>
                <th>Category:</th>
                <td>{{n.name}}</td>
            </tr>
            <tr>
                <th>Subcategory name:</th>
                <td>
                    <input type="text" [(ngModel)]="subcategory[i]">
                    <button mat-button (click)="createSubcategory(n.name, i)">Add</button>
                </td>
            </tr>
        </table>
        
    </div>
    <br><br>
    <h2>Categories</h2>
    <div class="columnText" *ngFor="let n of allCategories">
        Add to category: {{n.name}} <button mat-button (click)="openDialog(n.name)">Add</button>
    </div>
    <br><br>
    <h2>SubCategories</h2>
    <div class="columnText" *ngFor="let n of allSubCategories">
        (Category: {{n.name}}) Add to subcategory: {{n.subcategory}} <button mat-button (click)="openDialogSubCategory(n)">Add</button>
    </div>
</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="tableData" id="tables">
    <select [(ngModel)]="selectedStore" (ngModelChange)="getDepartmentsByPlace()" class="columnText">
        <option *ngFor="let n of myStores">{{n.name}}</option>
    </select>
    <br><br>

   <mat-button-toggle-group [(ngModel)]="selectedDepartment" (ngModelChange)="selectedStoreChange()">
    <mat-button-toggle *ngFor="let n of departments" value="{{n}}">{{n}}</mat-button-toggle>
   </mat-button-toggle-group>

    <br><br>
    <div>
        <canvas #canvas width="1800px" height="785px" id="canvas"></canvas>
    </div>
</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="receiptsData">

    <h2>Items from Stroage unit/store</h2>
    <select [(ngModel)]="place" (ngModelChange)="getItemStats()">
        <option *ngFor="let n of myPlaces">{{n}}</option>
    </select>
    <br><br>
    <table class="customers">
        <tr>
            <th>Item name</th>
            <th>Item producer</th>
            <th>Unit of measure</th>
            <th>Current amount</th>
            <th>Item Selling Price</th>
            <th>Amount to add to cart</th>
        </tr>
        <tr *ngFor="let n of myItemStats; let i = index">
            <td>{{n.itemName}}</td>
            <td>{{n.itemProducer}}</td>
            <td>{{n.unitOfMeasure}}</td>
            <td>{{n.currentState}}</td>
            <td>{{n.sellingPrice}}</td>
            <td>
                <input type="number" max="{{n.currentState}}" min="0" [(ngModel)]="orderNumber[i]">
            </td>
            <button mat-button [disabled]="n.currentState == 0" (click)="addToCart(n, i)">Add to cart</button>
        </tr>
    </table>
    <br>
    <h2>Cart</h2>
    <table class="customers">
        <tr>
            <th>Item number</th>
            <th>Item name</th>
            <th>Item producer</th>
            <th>Unit of measure</th>
            <th>Amount selected</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let n of selectedItems; let i = index">
            <td>{{i + 1}}.</td>
            <td>{{n.itemName}}</td>
            <td>{{n.itemProducer}}</td>
            <td>{{n.unitOfMeasure}}</td>
            <td>{{n.currentState}}</td>
            <td>{{n.sellingPrice * n.currentState}}</td>
        </tr>
    </table>
    <br><br>
    <button mat-button (click)="closeBill()">Close the bill</button>
    <br><br>
    <div *ngIf="billClosed">
        <h2>Recepit</h2>
        <span class="columnText">Amount to pay is: {{amountToPay}}</span>
        <br>
        <select [(ngModel)]="paymentType" (ngModelChange)="paymentTypeChange()">
            <option value="cash">Cash</option>
            <option value="moneyCheck">Money check</option>
            <option value="creditCard">Credit card</option>
            <option value="virman">Virman</option>
        </select>
        <br><br>
        <div *ngIf="paymentType == 'cash'">
            <span class="columnText">Amount of money to give: &nbsp;</span><input type="number" min="{{amountToPay}}" [(ngModel)]="money">
            <br><br>
            <span class="columnText"> Number of id card (optional): &nbsp;</span><input type="text" [(ngModel)]="idCardCash" (ngModelChange)="checkIDCardCash()"> 
            <span class="columnText">&nbsp; {{idCardCashError}}</span>
            <br><br>
            <span class="columnText">Change: {{money - amountToPay}}</span>
        </div>

        <div *ngIf="paymentType == 'moneyCheck'">
            <span class="columnText">Firstame: &nbsp;</span><input type="text" [(ngModel)]="firstNameBuyer">
            <br><br>
            <span class="columnText">Lastname: &nbsp;</span><input type="text" [(ngModel)]="lastNameBuyer">
            <br><br>
            <span class="columnText">Card ID: &nbsp;</span><input type="text" [(ngModel)]="idCardMoneyCheck" (ngModelChange)="checkIDCardMoneyCheck()"> 
            <span class="columnText">&nbsp; {{idCardMoneyCheckError}}</span>
        </div>
            
        <div *ngIf="paymentType == 'creditCard'">
            <span class="columnText">Card ID: &nbsp;</span> <input type="text" [(ngModel)]="idCardCreditCard" (ngModelChange)="checkIDCardCreditCard()"> 
            <span class="columnText">&nbsp; {{idCardCreditCardError}}</span>
            <br><br>
            <span class="columnText">Credit card slip: &nbsp;</span><input type="text" [(ngModel)]="creditCardSlip">
        </div>

        <div *ngIf="paymentType == 'virman'">
            <select [(ngModel)]="virmanCustomer">
                <option *ngFor="let n of customers">{{n.name}}</option>
            </select>
        </div>
        <button mat-button (click)="giveReceipt()">Give receipt</button>
    </div>
    <br>

</div>

<!-- *************************************************************************************************************************** -->

<div *ngIf="reviewsData">
    <h2>Daily reports</h2>
    <div>
        <select [(ngModel)]="dateSearch" (ngModelChange)="getDailyReview()">
            <option *ngFor="let n of dailyReviewDates">{{n | date:'mediumDate'}}</option>
        </select>    
    </div>
    <br>
    <table class="customers">
        <tr>
            <th>Money earned</th>
            <th *ngIf="company.PDV">Tax</th>
        </tr>
        <tr>
            <td>{{dailyReview.moneyEarned}}</td>
            <td *ngIf="company.PDV">{{dailyReview.tax}}</td>
        </tr>
    </table>

</div>

<footer>
    
</footer>